.DS_Store
bin
.idea
build
*/Debug/*
*/Release/*

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
[Pp]review/
[Pp]roduction/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
DerivedData/

# Visual Studio 2015 cache/options directory
.vs/

xcuserdata/
autom4te.cache/