<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <supports-screens android:anyDensity="true"
                      android:largeScreens="true"
                      android:normalScreens="true"
                      android:resizeable="true"
                      android:smallScreens="true"
                      android:xlargeScreens="true"/>

    <uses-feature android:glEsVersion="0x00020000" android:required="false"/>
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.hardware.wifi" android:required="false" />
    <uses-feature android:name="android.hardware.screen.PORTRAIT" android:required="false" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera2" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.proximity" android:required="false" />

    <uses-permission android:name="android.permission.READ_CLIPBOARD"/>
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MICROPHONE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS"/>
    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <uses-permission android:name="com.sec.android.provider.badge.permission.READ"/>
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE"/>
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT"/>
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE"/>
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE"/>
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT"/>
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_APP_BADGE"/>
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS"/>
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS"/>
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_READ"/>
    <uses-permission android:name="me.everything.badger.permission.BADGE_COUNT_WRITE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:node="replace" />

    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

    <uses-sdk tools:overrideLibrary="com.google.mlkit.vision.segmentation.subject"/>

    <queries>
        <package android:name="com.google.android.apps.maps"/>
        <intent>
            <action android:name="android.intent.action.VIEW"/>
            <data android:scheme="ton"/>
        </intent>
    </queries>

    <application
        android:name="org.telegram.messenger.ApplicationLoader"
        android:allowBackup="true"
        android:restoreAnyVersion="true"
        android:backupAgent=".BackupAgent"
        android:hardwareAccelerated="@bool/useHardwareAcceleration"
        android:largeHeap="true"
        android:theme="@style/Theme.TMessages.Start"
        android:manageSpaceActivity="org.telegram.ui.ExternalActionActivity"
        android:supportsRtl="false"
        android:requestLegacyExternalStorage="true"
        android:preserveLegacyExternalStorage="true"
        android:allowAudioPlaybackCapture="true"
        tools:replace="android:supportsRtl"
        android:usesCleartextTraffic="true"
    >
        <!-- usesCleartextTraffic for browser supporting opening http:// links -->

        <activity-alias
            android:enabled="true"
            android:name="org.telegram.messenger.DefaultIcon"
            android:targetActivity="org.telegram.ui.LaunchActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name="org.telegram.messenger.VintageIcon"
            android:targetActivity="org.telegram.ui.LaunchActivity"
            android:icon="@mipmap/icon_6_launcher"
            android:roundIcon="@mipmap/icon_6_launcher_round"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name="org.telegram.messenger.AquaIcon"
            android:targetActivity="org.telegram.ui.LaunchActivity"
            android:icon="@mipmap/icon_4_launcher"
            android:roundIcon="@mipmap/icon_4_launcher_round"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name="org.telegram.messenger.PremiumIcon"
            android:targetActivity="org.telegram.ui.LaunchActivity"
            android:icon="@mipmap/icon_3_launcher"
            android:roundIcon="@mipmap/icon_3_launcher_round"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name="org.telegram.messenger.TurboIcon"
            android:targetActivity="org.telegram.ui.LaunchActivity"
            android:icon="@mipmap/icon_5_launcher"
            android:roundIcon="@mipmap/icon_5_launcher_round"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>

        <activity-alias
            android:enabled="false"
            android:name="org.telegram.messenger.NoxIcon"
            android:targetActivity="org.telegram.ui.LaunchActivity"
            android:icon="@mipmap/icon_2_launcher"
            android:roundIcon="@mipmap/icon_2_launcher_round"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.MULTIWINDOW_LAUNCHER" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
        </activity-alias>

        <activity
            android:name="org.telegram.ui.LaunchActivity"
            android:theme="@style/Theme.TMessages.Start"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode|smallestScreenSize|screenLayout"
            android:supportsPictureInPicture="true"
            android:hardwareAccelerated="@bool/useHardwareAcceleration"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustResize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="video/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="image/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/vnd.org.telegram.messenger.android.profile"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:host="telegram.me" android:scheme="http" />
                <data android:host="telegram.me" android:scheme="https" />
                <data android:host="telegram.dog" android:scheme="http" />
                <data android:host="telegram.dog" android:scheme="https" />
                <data android:host="t.me" android:scheme="http" />
                <data android:host="t.me" android:scheme="https" />
            </intent-filter>
            <intent-filter android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:priority="1">
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tonsite" />
            </intent-filter>
            <intent-filter android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:priority="1">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="tg" />
            </intent-filter>
            <intent-filter>
                <action android:name="org.telegram.messenger.CREATE_STICKER_PACK"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="*/*"/>
            </intent-filter>
            <meta-data android:name="android.service.chooser.chooser_target_service" android:value="androidx.sharetarget.ChooserTargetServiceCompat" />
            <meta-data android:name="android.app.shortcuts" android:resource="@xml/shortcuts" />
            <meta-data
                android:name="com.google.mlkit.vision.DEPENDENCIES"
                android:value="subject_segment" />
        </activity>
        <activity-alias
            android:name="org.telegram.ui.CallsActivity"
            android:targetActivity="org.telegram.ui.LaunchActivity"
            android:permission="android.permission.CALL_PHONE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/vnd.org.telegram.messenger.android.call"/>
                <data android:mimeType="vnd.android.cursor.item/vnd.org.telegram.messenger.android.call.video"/>
            </intent-filter>
        </activity-alias>
        <activity
            android:name="org.telegram.ui.BubbleActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:hardwareAccelerated="@bool/useHardwareAcceleration"
            android:windowSoftInputMode="adjustResize"
            android:allowEmbedded="true"
            android:documentLaunchMode="always"
            android:resizeableActivity="true"/>
        <activity
            android:name="org.telegram.ui.ShareActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:hardwareAccelerated="@bool/useHardwareAcceleration"
            android:windowSoftInputMode="adjustPan"
            android:excludeFromRecents="true"
            android:stateNotNeeded="true"
            android:theme="@style/Theme.TMessages.Transparent"
            android:exported="true">
            <intent-filter android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round" android:priority="1">
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="tgb" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.telegram.ui.ExternalActionActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:hardwareAccelerated="@bool/useHardwareAcceleration"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round">
                <action android:name="org.telegram.passport.AUTHORIZE"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name="org.telegram.ui.ChatsWidgetConfigActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:hardwareAccelerated="@bool/useHardwareAcceleration"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round">
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        <activity
            android:name="org.telegram.ui.ContactsWidgetConfigActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:hardwareAccelerated="@bool/useHardwareAcceleration"
            android:windowSoftInputMode="adjustPan"
            android:exported="true">
            <intent-filter android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round">
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
<!--        <activity-->
<!--            android:name="org.telegram.ui.FeedWidgetConfigActivity"-->
<!--            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"-->
<!--            android:hardwareAccelerated="@bool/useHardwareAcceleration"-->
<!--            android:windowSoftInputMode="adjustPan">-->
<!--            <intent-filter android:icon="@mipmap/ic_launcher" android:roundIcon="@mipmap/ic_launcher_round">-->
<!--                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity
            android:name="org.telegram.messenger.OpenChatReceiver"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:exported="true">
        </activity>
        <activity
            android:name="org.telegram.messenger.OpenAttachedMenuBotReceiver"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
            android:exported="true">
        </activity>
        <activity
            android:name="org.telegram.ui.PopupNotificationActivity"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize"
            android:excludeFromRecents="true"
            android:launchMode="singleTask"
            android:taskAffinity=""
            android:theme="@style/Theme.TMessages.PopupNotification"
            android:resizeableActivity="false"
            android:windowSoftInputMode="adjustResize|stateHidden">
        </activity>
        <activity android:name="org.telegram.ui.VoIPPermissionActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
                  android:taskAffinity="${applicationId}.voip"
                  android:excludeFromRecents="true"
                android:theme="@style/Theme.TMessages.Transparent"/>
        <activity android:name="org.telegram.ui.VoIPFeedbackActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
				  android:taskAffinity="${applicationId}.voip_feedback"
                  android:excludeFromRecents="true"
                android:theme="@style/Theme.TMessages.TransparentWithAlerts"/>

        <receiver
            android:name=".AutoMessageHeardReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="org.telegram.messenger.ACTION_MESSAGE_HEARD"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".CopyCodeReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="org.telegram.messenger.ACTION_COPY_CODE"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".NotificationsDisabledReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.app.action.NOTIFICATION_CHANNEL_BLOCK_STATE_CHANGED"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".AutoMessageReplyReceiver"
            android:exported="false">
e            <intent-filter>
                <action android:name="org.telegram.messenger.ACTION_MESSAGE_REPLY"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".SmsReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.gms.auth.api.phone.SMS_RETRIEVED"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".CallReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".AuthenticatorService"
            android:exported="true"
            android:foregroundServiceType="dataSync"
        >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/auth"/>
        </service>

        <service
            android:name=".ContactsSyncAdapterService"
            android:exported="true"
            android:foregroundServiceType="dataSync"
        >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/sync_contacts" />
            <meta-data android:name="android.provider.CONTACTS_STRUCTURE"
                android:resource="@xml/contacts" />
        </service>

        <service
            android:name=".KeepAliveJob"
            android:exported="false"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:foregroundServiceType="dataSync"
        />
        <service
            android:name=".BringAppForegroundService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback"
        />
        <service
            android:name=".NotificationsService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="dataSync"
        />
        <service
            android:name=".NotificationRepeat"
            android:exported="false"
            android:foregroundServiceType="dataSync"
        />
        <service
            android:name=".VideoEncodingService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="dataSync"
        />
        <service
            android:name="org.telegram.ui.Stories.recorder.StoryUploadingService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="dataSync"
        />
        <service
            android:name=".ImportingService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="dataSync"
        />
        <service
            android:name=".LocationSharingService"
            android:enabled="true"
            android:exported="true"
            android:foregroundServiceType="location|dataSync"
        />
        <service
            android:name=".voip.VoIPService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="camera|microphone|mediaPlayback|mediaProjection"
        />
        <service
            android:name=".MusicPlayerService"
            android:exported="true"
            android:enabled="true"
            android:foregroundServiceType="mediaPlayback"
        />
        <service
            android:name=".MusicBrowserService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback"
        >
            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService"/>
            </intent-filter>
        </service>
        <service
            android:name=".voip.TelegramConnectionService"
            android:permission="android.permission.BIND_TELECOM_CONNECTION_SERVICE"
            android:exported="true"
            android:foregroundServiceType="dataSync"
        >
            <intent-filter>
                <action android:name="android.telecom.ConnectionService" />
            </intent-filter>
        </service>

		<receiver android:name=".MusicPlayerReceiver" android:exported="false">
            <intent-filter>
                <action android:name="org.telegram.android.musicplayer.close" />
                <action android:name="org.telegram.android.musicplayer.pause" />
                <action android:name="org.telegram.android.musicplayer.next" />
                <action android:name="org.telegram.android.musicplayer.play" />
                <action android:name="org.telegram.android.musicplayer.previous" />
                <action android:name="android.intent.action.MEDIA_BUTTON" />
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
        </receiver>
        <receiver android:name=".voip.VoIPMediaButtonReceiver" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <receiver android:name=".AppStartReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="org.telegram.start" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".RefererReceiver" android:exported="true" android:permission="android.permission.INSTALL_PACKAGES">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <receiver android:name=".WearReplyReceiver" android:enabled="true"/>

        <receiver android:name=".StopLiveLocationReceiver" android:enabled="true"/>

        <receiver android:name=".PopupReplyReceiver" android:enabled="true"/>

        <receiver android:name=".NotificationCallbackReceiver" android:enabled="true" android:exported="false"/>

        <receiver android:name=".ShareBroadcastReceiver" android:enabled="true"/>

        <receiver android:name=".CustomTabsCopyReceiver" android:enabled="true"/>

        <receiver android:name=".NotificationDismissReceiver" android:exported="false"/>

        <receiver android:name=".voip.VoIPActionsReceiver" android:exported="false"/>

        <receiver android:name=".ShortcutResultReceiver" android:exported="false"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <provider
            android:authorities="${applicationId}.notification_image_provider"
            android:name=".NotificationImageProvider"
            android:exported="false"
            android:grantUriPermissions="true"/>

        <provider
            android:authorities="${applicationId}.call_sound_provider"
            android:name=".voip.CallNotificationSoundProvider"
            android:exported="true"/>

        <receiver android:name=".ChatsWidgetProvider" android:exported="false">
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/chats_widget_info" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ChatsWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:foregroundServiceType="dataSync"
            android:exported="false"
        />

        <receiver android:name=".ContactsWidgetProvider" android:exported="false">
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/contacts_widget_info" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ContactsWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"
            android:exported="false"
            android:foregroundServiceType="dataSync"
        />

<!--        <receiver android:name=".FeedWidgetProvider">-->
<!--            <meta-data android:name="android.appwidget.provider"-->
<!--                android:resource="@xml/feed_widget_info" />-->
<!--            <intent-filter>-->
<!--                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />-->
<!--            </intent-filter>-->
<!--        </receiver>-->

<!--        <service android:name=".FeedWidgetService"-->
<!--            android:permission="android.permission.BIND_REMOTEVIEWS"-->
<!--            android:exported="false" />-->
        <service
            android:name=".FilesMigrationService"
            android:exported="false"
            android:foregroundServiceType="dataSync"
        />

        <uses-library android:name="com.sec.android.app.multiwindow" android:required="false" />
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_W" android:value="632dp" />
        <meta-data android:name="com.sec.android.multiwindow.DEFAULT_SIZE_H" android:value="598dp" />
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_W" android:value="632dp" />
        <meta-data android:name="com.sec.android.multiwindow.MINIMUM_SIZE_H" android:value="598dp" />

        <meta-data android:name="com.google.android.gms.wallet.api.enabled" android:value="true" />

        <meta-data android:name="com.google.android.gms.car.notification.SmallIcon" android:resource="@drawable/ic_player" />
        <meta-data android:name="com.google.android.gms.car.application" android:resource="@xml/automotive_app_desc" />

        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="face,barcode" />

        <meta-data android:name="android.max_aspect" android:value="2.5" />
        <meta-data
            android:name="com.google.android.gms.cast.framework.OPTIONS_PROVIDER_CLASS_NAME"
            android:value="org.telegram.messenger.chromecast.ChromecastOptionsProvider" />

    </application>

</manifest>
