.idea/
.gradle/
Aniways/
build/
obj/
*.iml
local.properties
*.keystore
gradle.properties

TMessagesProj/src/main/java/org/telegram/messenger/BuildVars.java
aniways/
TMessagesProj/TMessagesProj-release.apk
TMessagesProj/manifest-merger-release-report.txt

TMessagesProj/mapping.txt
TMessagesProj/proguard-rules.txt
TMessagesProj/seeds.txt
TMessagesProj/unused.txt
