<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <application android:name="org.telegram.messenger.ApplicationLoaderImpl" tools:replace="name" android:gwpAsanMode="always">
        <service android:name="org.telegram.messenger.GoogleVoiceClientService" android:exported="true"/>
        <activity
            android:name="org.telegram.messenger.GoogleVoiceClientActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.android.voicesearch.SEND_MESSAGE_TO_CONTACTS" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.microsoft.appcenter.distribute.DeepLinkActivity"
            android:exported="true"
            android:theme="@android:style/Theme.NoDisplay">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="updates"
                    android:path="/"
                    android:scheme="appcenter" />
            </intent-filter>
        </activity>

        <receiver
            android:name="com.microsoft.appcenter.distribute.DownloadManagerReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
                <action android:name="android.intent.action.DOWNLOAD_NOTIFICATION_CLICKED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>