<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <application android:name="org.telegram.messenger.ApplicationLoaderImpl" tools:replace="name">
        <service
            android:name="org.telegram.messenger.GoogleVoiceClientService"
            android:exported="true"
            android:foregroundServiceType="dataSync"
        />
        <activity
            android:name="org.telegram.messenger.GoogleVoiceClientActivity"
            android:exported="true"
        >
            <intent-filter>
                <action android:name="com.google.android.voicesearch.SEND_MESSAGE_TO_CONTACTS" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
    </application>
</manifest>