<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">

    <uses-feature android:name="android.hardware.location.gps" android:required="false" />
    <uses-feature android:name="android.hardware.location.network" android:required="false" />
    <uses-feature android:name="android.hardware.location" android:required="false" />
    <uses-feature android:name="android.hardware.LOCATION" android:required="false" />

    <uses-permission android:name="${applicationId}.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <permission android:name="${applicationId}.permission.MAPS_RECEIVE" android:protectionLevel="signature"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/AppNameBeta"
        android:theme="@style/Theme.TMessages.Start"
        android:hardwareAccelerated="@bool/useHardwareAcceleration"
        android:largeHeap="true"
        android:supportsRtl="false"
        android:requestLegacyExternalStorage="true"
        tools:replace="android:supportsRtl">

    </application>

</manifest>
